.recipe-container {
    margin-top: 34px;
    padding-top: 70px; 
    display: flex;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #CF996C;

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes fadeDown {
        from {
            transform: translateY(-50px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    // Animation Mixins
@mixin hover-lift {
    transition: transform 300ms cubic-bezier(0.16, 1, 0.3, 1),
                box-shadow 300ms cubic-bezier(0.16, 1, 0.3, 1);
    
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    }
  }
  
  // Additional Keyframe Animations
  @keyframes fadeIn {
    from { 
      opacity: 0;
      transform: translateY(10px);
    }
    to { 
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

    .recipe-form-container {
        margin-bottom: 100px;
        flex: 1;
        padding: 40px;
        display: flex;
        flex-direction: column;
        background-color: #CF996C;
        animation: fadeDown 0.4s ease-in-out;
        overflow-y: auto;

        h2 {
            font-size: 25px;
            padding-left: 150px;
            text-align: left;
            margin-bottom: 30px;
            color: #F8F1E5;
            animation: slideInLeft 0.5s ease-out;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            animation: fadeIn 0.6s ease-out;
        }


        .form-group {
            position: relative;
            width: 65%;
            margin-bottom: 20px;
            animation: scaleIn 0.4s ease-out;

            label {
                position: absolute;
                top: 16px;
                left: 14px;
                font-size: 13px;
                color: #9e9d9a;
                transition: all 0.3s ease;
                pointer-events: none;
                background-color: transparent;
                padding: 0 8px;
                z-index: 1;
            }

            .form-control:focus + label,
            .form-control:not(:placeholder-shown) + label {
                top: -13px;
                left: -1px;
                font-size: 12px;
                color: #F8F1E5;
                font-weight: 300;
            }
        }

        .form-control {
            width: 100%;
            padding: 14px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 13px;
            box-sizing: border-box;
            color: #363535;
            background-color: #F8F1E5;
            transition: all 0.3s ease;
            // text-align: center;
            // @include hover-lift;

            &::placeholder {
                color: transparent;
            }

            &:focus {
                border-color: #DBAF7E;
                box-shadow: 0 0 5px #DBAF7E;
                outline: none;
                animation: scaleIn 0.3s ease-out;
            }

            &:hover {
                border-color: #DBAF7E;
                background-color: #F8F1E5;
            }
        }

        // Ingredients Section
        .ingredients-section {
            width: 65%;
            margin: 0 auto 30px;
            
            h3 {
                color: #F8F1E5;
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: 700;
            }

            .ingredient-row {
                background-color: #F8F1E5;
                border-radius: 8px;
                padding: 10px;
                padding-left: 20px;
                margin-bottom: 15px;
                display: flex;
                gap: 15px;
                transition: all 0.3s ease;
                // @include hover-lift;
                animation: slideInRight 0.5s ease-out;

                &:hover {
                    box-shadow: 0 0 5px #DBAF7E;
                    // transform: scale(1.1);
                }

                .amount-input {
                    margin-top: 15px;
                    width: 120px;
                }

                .unit-select {
                    margin-top: 15px;
                    width: 160px;
                    
                    .secondary-button {
                        background: none;
                        border: none;
                        padding: 0;
                        color: #CF996C;
                        font-size: 10px;
                        text-decoration: underline;
                        cursor: pointer;
                        display: block;
                        margin-top: 5px;
                        text-align: center;

                        &:hover {
                            color: darken(#CF996C, 10%);
                        }
                    }
                }

                .ingredient-input {
                    margin-top: 15px;
                    flex: 1;
                }

                .remove-button {
                    margin-top: 20px;
                    margin-right: 10px;
                    transition: transform 0.2s ease;
                }

                .form-group {
                    label {
                        color: #9e9d9a;
                    }

                    .form-control:focus + label,
                    .form-control:not(:placeholder-shown) + label {
                        color: #CF996C;
                        font-weight: 500;
                    }
                }
            }
            .form-footer {
                height: 100px; // Adjust this value as needed
                width: 100%;
                background-color: transparent;
            }
        }

        // Steps Section
        .steps-section {
            width: 65%;
            margin: 0 auto;

            h3 {
                color: #F8F1E5;
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: 700;
            }

            .step-card {
                background-color: #F8F1E5;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 10px;
                transition: all 0.3s ease;
                // @include hover-lift;
                animation: slideInLeft 0.5s ease-out;

                .step-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;

                    h3 {
                        margin: 0;
                        color: #CF996C;
                    }

                    .remove-button {
                        margin-left: auto;
                        transition: transform 0.2s ease;
                    }
                }

                .step-content {
                    .form-group {
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 0 5px #DBAF7E;
                    // transform: scale(1.1);
                }

                .form-group {
                    label {
                        color: #9e9d9a;
                    }

                    .form-control:focus + label,
                    .form-control:not(:placeholder-shown) + label {
                        color: #CF996C;
                        font-weight: 500;
                    }
                }
            }
        }
        
        // Action Buttons
        .action-button {
            padding: 14px;
            background-color: #DBAF7E;
            color: #F8F1E5;
            border: none;
            border-radius: 25px;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            width: auto;
            min-width: 120px;
            @include hover-lift;

            &:hover {
                background-color: darken(#DBAF7E, 8%);
            }

            &.remove-button {
                background-color: #a3323d;
                padding: 8px 15px;
                height: 30px !important;
                min-width: auto;
                font-size: 11px;
                transition: transform 0.2s ease;
                
                &:hover {
                    background-color: darken(#dc3545, 8%);
                    transform: scale(1.1);
                }
                
            &:active {
                transform: scale(0.95);
            }

            }

            &.submit-button {
                width: 65%;
                margin: 30px auto;
                animation: scaleIn 0.5s ease-out;
            }
        }

        .error-message {
            color: #F8F1E5;
            font-size: 10px;
            margin-top: 5px;
        }

        // Custom form and card labels
        .form-label {
            color: #DBAF7E;
            font-size: 0.8rem;
            font-weight: 600;
            margin-bottom: 1rem;
            transition: color 0.2s ease;
            
            &:focus-within {
                color: #4b5563;
            }
        }
        
        .card-label {
            color: #DBAF7E;
            font-size: 0.8rem;
            font-weight: 600;
            margin-bottom: 1rem;
            
            &:hover {
                color: #4b5563;
            }
        }

        // Responsive Design
        @media (max-width: 768px) {
            padding: 20px;

            .recipe-form-container{ 
                margin-bottom: 100px;
            }
            
            h2 {
                padding-left: 0;
                text-align: center;
            }

            .form-group,
            .ingredients-section,
            .steps-section,
            .submit-button {
                width: 100%;
            }

            .ingredient-row {
                flex-direction: column;
                gap: 10px;

                .amount-input,
                .unit-select,
                .ingredient-input {
                    width: 100% !important;
                }
            }
        }
    }
}